<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 html, body {
     height: 100%;
 }
 .main {
     position: relative;
     height: 100%;
     overflow: hidden;
 }
.left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    background: yellow;
}
.right {
    height: 100%;
    width: 100%;
    margin-left: 300px;
    background: green;
    overflow: auto;
}
</style>
<body>
    <div class="main">
        <div class="left">
            good morning everyone</br>
            good morning everyone</br>
            good morning everyone</br>
            good morning everyone</br>
            good morning everyone</br>
            good morning everyone</br>
            good morning everyone</br>
            good morning everyone</br>
            good morning everyone</br>good morning everyone</br>
            good morning everyone</br>
            good morning everyone</br>good morning everyone</br>
            good morning everyone</br>
        </div>
        <div class="right">
            thank you very much</br>
            thank you very much</br>
            thank you very much</br>
            thank you very much</br>
            thank you very much</br>
            thank you very much</br>
            thank you very much</br>
            thank you very much</br>
            thank you very much</br>
            thank you very much</br>thank you very much</br>
            thank you very much</br>
            thank you very much</br>
            thank you very much</br>thank you very much</br>
        </div>
    </div>
</body>
</html>